* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';

  margin: 0;

  letter-spacing: .3px;
}

.header {
  display: flex;
  flex-direction: row;

  padding: 25.5px 0 ;

  justify-content: center;
  gap: 236px;
}

.header__logo {
  width: 265px;
  height: 73.75px;

  object-fit: contain;
}

.header__content {
  display: flex;
  flex-direction: column;

  align-items: flex-end;
  justify-content: flex-start;
}

.header__menu {
  display: flex;

  gap: 20px;
}

.header__menu-item {
  font-size: 15px;
  line-height: 18.75px;

  padding: 5px;

  white-space: nowrap;

  color: #53565a;
}

.header__search {
  display: flex;
  flex-direction: row;

  padding-top: 10px;
}

.header__search-input {
  font-family: 'Open Sans';

  display: block;

  width: 400px;
  height: 35px;
  padding-left: 20px;

  border: none;
  outline: none;
  background-color: rgb(234, 234, 234);
}

input::placeholder {
  font-family: 'Open Sans';
  font-size: 17px;
  line-height: 1.15px;

  padding: 0;

  white-space: nowrap;

  color: #53565a;
}

.header__search-input:active {
  box-shadow: 0 0 0 2px #00a9ce;
}

.header__search-input:focus {
  box-shadow: 0 0 0 2px #00a9ce;
}

.header__search-button {
  display: flex;

  width: 50px;
  height: 35px;

  border: none;
  background: #0569b9;

  justify-content: center;
  align-items: center;
}

.header__search-image {
  display: block;

  width: 32px;
  max-width: 100%;
  height: 32px;

  border-style: none;

  filter: invert(1);
}

.bottom-placeholder {
  width: 100vw;
  height: 1000px;
}

.banner {
  display: flex;
  flex-direction: column;

  height: 450px;

  background-image: url(images/trees.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  justify-content: flex-end;
  align-items: flex-start;
}

.banner__content {
  line-height: 18.75px;
  position: relative;
  display: flex;
  flex-direction: column;

  width: 760px;
  height: 134.5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 150px;
  margin-left: 22.5%;

  align-items: flex-start;
  justify-content: space-around;
}

.banner__text-h1 {
  font-family: 'Source Sans Pro';
  font-size: 52px;
  font-weight: 600;

  box-sizing: inherit;
  padding: 30px 10px 30px;

  opacity: .9;
  color: white;
  background-color: #0569b9;
}

.banner__text-h2 {
  font-family: 'Source Sans Pro';
  font-size: 19px;

  margin: 5px 0 0;
  margin-top: 10px;
  padding: 15px 10px 15px;

  opacity: .9;
  color: white;
  background-color: #0569b9;
}

.description {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 417.84px;
  margin: 0 0 40px;
  padding: 40px 0;

  background-color: #eff0f1;

  justify-content: center;
}

.description__study {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 786.67px;
  height: 337.84px;
  padding: 0 15px;
}

.description__study-image {
  position: absolute;
  top: 20px;
  right: 25px;

  display: flex;

  width: 716.67px;
  height: 317.84px;
}

.description__text {
  font-size: 17px;

  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 15px;

  display: flex;
  flex-direction: column;

  width: 360px;
  height: 250.25px;
  padding: 25px 40px;

  background-color: #fff;

  align-items: flex-start;
}

.description__title {
  font-family: 'Source Sans Pro';
  font-size: 28px;
  font-weight: 700;

  width: 280px;
  height: 42px;
  margin-bottom: 10px;

  color: #36434d;
}

.description__subtitle {
  font-size: 16px;

  width: 280px;
  height: 84px;
  margin-bottom: 10px;

  color: #53565a;
}

.description__button {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.75;

  display: flex;

  width: 168.28px;
  height: 44.25px;
  padding: 8px 21px;

  text-align: center;
  text-decoration: none;
  letter-spacing: .5px;

  color: #fff;
  border: 1px;
  border-color: #0569b9;
  border-radius: 3px;
  background-color: #0569b9;
}

.description__important {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 393.33px;
  height: 337.84px;
  padding: 0 15px;
}

.description__research {
  position: relative;

  display: flex;

  width: 363.33px;
  height: 168.92px;
}

.description__research-image {
  display: flex;

  width: 363.33px;
  height: 168.92px;

  object-fit: cover;
  object-position: center;
}

.description__research-button {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.75;

  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;

  width: 168.28px;
  height: 44.25px;
  padding: 8px 21px;

  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
  letter-spacing: .5px;

  color: #fff;
  border: 1px;
  border-color: #0569b9;
  border-radius: 3px;
  background-color: #0569b9;
}

.description__ukraine {
  position: relative;

  display: flex;

  width: 363.33px;
  height: 168.92px;
}

.description__ukraine-image {
  width: 363.33px;
  height: 168.92px;

  object-fit: cover;
  object-position: center;
}

.description__ukraine-button {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 500;
  line-height: 1.75;

  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;

  width: 168.28px;
  height: 44.25px;
  padding: 8px 21px;

  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
  letter-spacing: .5px;

  color: #fff;
  border: 1px;
  border-color: #0569b9;
  border-radius: 3px;
  background-color: #0569b9;
}

.heading {
  font-family: 'Source Sans Pro';
  font-size: 28px;
  font-weight: 600;

  width: 1180px;
  height: 35px;
  margin: 0 321px 10px;
  padding: 0 160px;

  color: #36434d;
}

.news {
  display: flex;
  flex-direction: row;

  justify-content: center;
}

.news__event {
  display: flex;
  flex-direction: column;

  margin: 15px;
}

.news__event-image {
  width: 363.33px;
  height: 250px;
}

.news__event-text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 363.33px;
  height: 390.5px;
  padding: 20px 15px 0;

  transition: .25s;

  background-color: #eff0f1;
}

.news__event-text:hover .news__event-title, .news__event-text:hover .news__event-subtitle, .news__event-text:hover .news__event-data,.news__event-text:hover .news__event-signature{
  color: #eff0f1;
}

.blue-square {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 0;
  height: 0;
  
  transition: .25s;
  transform: translate(-50%, -50%);
}

.news__event-text:hover .blue-square {
  width: 100%;
  height: 100%;

  background-color: #00a9cee6;
}

.news__event-title {
  font-family: 'Source Sans Pro';
  font-size: 28px;
  font-weight: 600;
  transition: .25s;
  z-index: 1;
  width: 333.33;
  height: 103.5;
  margin: 0 0 15px;

  color: #36434d;
}


.news__event-subtitle {
  font-family: 'Open Sans';
  font-size: 15px;
  transition: .25s;
  z-index: 1;

  width: 333.33px;
  height: 131.25px;
  margin: 0 0 15px;

  color: #53565a;
}

.news__event-footer {
  font-family: 'Open Sans';
  font-size: 15px;
  transition: .25s;

  display: flex;
  z-index: 1;

  width: 333.33px;
  height: 41.25px;
  padding: 0 0 15px;

  color: #0569b9;

  justify-content: space-between;
}

.news__event-data {
  width: 84.11px;
  height: 26.25px;
  transition: .25s;

  color: #53565a;
}

.news__event-signature {
  width: 144.77px;
  height: 26.25px;
  transition: .25s;

  color: #00a9cee6;
}
