* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';

  margin: 0;

  letter-spacing: .3px;
}

.header {
  display: flex;
  flex-direction: row;

  padding: 25.5px 0 ;

  justify-content: center;
  gap: 236px;
}

.header__logo {
  width: 265px;
  height: 73.75px;

  object-fit: contain;
}

.header__content {
  display: flex;
  flex-direction: column;

  align-items: flex-end;
  justify-content: flex-start;
}

.header__menu {
  display: flex;

  gap: 20px;
}

.header__menu-item {
  font-size: 15px;
  line-height: 18.75px;

  padding: 5px;

  white-space: nowrap;

  color: #53565a;
}

.header__search {
  display: flex;
  flex-direction: row;

  padding-top: 10px;
}

.header__search-input {
  font-family: 'Open Sans';

  display: block;

  width: 400px;
  height: 35px;
  padding-left: 10px;

  border: none;
  outline: none;
  background-color: rgb(234, 234, 234);
}

input::placeholder {
  font-family: 'Open Sans';
  font-size: 17px;
  line-height: 1.25px;

  padding: 5px;

  white-space: nowrap;

  color: #53565a;
}

.header__search-button {
  display: flex;

  width: 50px;
  height: 35px;

  border: none;
  background: #0569b9;

  justify-content: center;
  align-items: center;
}

.header__search-image {
  display: block;

  width: 32px;
  max-width: 100%;
  height: 32px;

  border-style: none;

  filter: invert(1);
}

.bottom-placeholder {
  width: 100vw;
  height: 1000px;
}

.banner {
  font-family: 'object-fit: cover; object-position: center';

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 450px;

  background-image: url(images/trees.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  object-fit: cover;
  object-position: center;
  justify-content: flex-end;
  align-items: flex-start;
}



.banner__content {
  display: flex;
  flex-direction: column;

  max-width: 760;
  padding: 0 410px 90px;

  align-items: flex-start;
}

.banner__text {
  line-height: 18.75px;

  display: flex;

  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;

  justify-content: space-around;
  align-items: flex-end;
}

.banner__text-h1 {
  font-family: 'Open Sans';
  font-size: 52px;
  font-weight: 600;

  padding: 10px;

  opacity: .9;
  color: white;
  background-color: #0569b9;
}

.banner__text-h2 {
  font-family: 'Open Sans';
  font-size: 19px;

  margin: 5px 0 0;
  margin-top: 10px;
  padding: 8px 10px;

  opacity: .9;
  color: white;
  background-color: #0569b9;
}

.description {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 417.84px;
  margin: 0 0 40px;
  padding: 40px 0;

  background-color: #eff0f1;

  justify-content: center;
}

.description__study {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 786.67px;
  height: 337.84px;
  padding: 0 15px;
}

.description__study-image {
  position: absolute;
  right: 25px;
  bottom: 20px;

  display: flex;

  width: 716.67px;
  height: 317.84px;
}

.description__text {
  font-family: 'Open Sans';
  font-size: 17px;

  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 15px;

  display: flex;
  flex-direction: column;

  width: 360px;
  height: 250.25px;
  padding: 25px 40px;

  background-color: #fff;

  align-items: center;
  align-self: center;
  align-items: flex-end;
}

.description__title {
  font-family: 'Open Sans';
  font-size: 25px;
  font-weight: 700;

  width: 280px;
  height: 42px;
  margin: 0 0 10px;
  padding: 0 30px 0 0;

  color: #36434d;
}

.description__subtitle {
  font-family: 'Open Sans';
  font-size: 16px;

  width: 280px;
  height: 84px;
  margin: 0 0 20px;

  color: #53565a;
}

.description__button {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 500;
  line-height: 1.75;

  display: flex;

  width: 168.28px;
  height: 44.25px;
  margin-right: 112px;
  padding: 8px 21px;

  text-align: center;
  text-decoration: none;
  letter-spacing: .5px;

  color: #fff;
  border: 1px;
  border-color: #0569b9;
  border-radius: 3px;
  background-color: #0569b9;
}

.description__importent {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 393.33px;
  height: 337.84px;
  padding: 0 15px;
}

.description__research {
  display: flex;
  position: relative;

  width: 363.33px;
  height: 168.92px;
}

.description__research-image {
  display: flex;

  width: 363.33px;
  height: 168.92px;

  object-fit: cover;
  object-position: center;
}

.description__research-button {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 500;
  line-height: 1.75;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 168.28px;
  height: 44.25px;
  padding: 8px 21px;

  text-align: center;
  text-decoration: none;
  letter-spacing: .5px;
  z-index: 1;
  color: #fff;
  border: 1px;
  border-color: #0569b9;
  border-radius: 3px;
  background-color: #0569b9;
}

.description__ukraine {
  display: flex;
  position: relative;

  width: 363.33px;
  height: 168.92px;
}

.description__ukraine-image {
  width: 363.33px;
  height: 168.92px;

  object-fit: cover;
  object-position: center;
}

.description__ukraine-button {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 500;
  line-height: 1.75;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 168.28px;
  height: 44.25px;
  padding: 8px 21px;

  text-align: center;
  text-decoration: none;
  letter-spacing: .5px;
  z-index: 1;
  color: #fff;
  border: 1px;
  border-color: #0569b9;
  border-radius: 3px;
  background-color: #0569b9;
}

